.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.language-dropdown {
  position: absolute;
  top: 20px;
  right: 20px;
}

.theme-switch {
  position: absolute;
  top: 50px;
  right: 20px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 300px;
  height: 80px;
  margin-top: 20px;
  padding: 10px;
}

.box h2.title {
  font-size: 16px;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  margin-top: -20px;
}

.box input {
  border: none;
  outline: none;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  border-radius: 8px;
}

.button {
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  background-color: #5e5e5e;
  color: white;
  border-radius: 50px;
  width: auto;
  min-width: 100px;
  margin-top: 20px;
  cursor: pointer;
}
